<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    colors="true"
    bootstrap="tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="Jsor\Doctrine Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory>./src/</directory>
        </include>
    </coverage>

    <groups>
        <exclude>
            <group>postgis-1.5</group>
            <group>postgis-2.0</group>
        </exclude>
    </groups>

    <php>
        <env name="POSTGIS_VERSION" value="2.1"/>

        <env name="DB_TYPE" value="pdo_pgsql"/>
        <env name="DB_HOST" value="localhost"/>
        <env name="DB_USER" value="postgres"/>
        <env name="DB_PASSWORD" value="postgres"/>
        <env name="DB_NAME" value="postgres"/>
        <env name="DB_PORT" value="5432"/>
    </php>
</phpunit>
