services:
  db-14-32:
    image: postgis/postgis:14-3.2-alpine
    environment:
      POSTGRES_PASSWORD: postgres
    networks:
      - db-14-32

  db-15-34:
    image: postgis/postgis:15-3.4-alpine
    environment:
      POSTGRES_PASSWORD: postgres
    networks:
      - db-15-34

  db-16-34:
    image: postgis/postgis:16-3.4-alpine
    environment:
      POSTGRES_PASSWORD: postgres
    networks:
      - db-16-34

  db-17-36:
    image: postgis/postgis:17-3.6-alpine
    platform: linux/amd64
    environment:
      POSTGRES_PASSWORD: postgres
    networks:
      - db-17-36

  db-18-36:
    image: postgis/postgis:18-3.6-alpine
    platform: linux/amd64
    environment:
      POSTGRES_PASSWORD: postgres
    networks:
      - db-18-36

networks:
  db-14-32:
    name: doctrine-postgis-14-32
    driver: bridge
  db-15-34:
    name: doctrine-postgis-15-34
    driver: bridge
  db-16-34:
    name: doctrine-postgis-16-34
    driver: bridge
  db-17-36:
    name: doctrine-postgis-17-36
    driver: bridge
  db-18-36:
    name: doctrine-postgis-18-36
    driver: bridge
