name: CI

on:
  push:
  pull_request:

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
  tests:
    name: Tests (PHP ${{ matrix.php }}, PostgreSQL ${{ matrix.postgres }}, PostGIS ${{ matrix.postgis }}, ORM ${{ matrix.orm || 'default' }}, DBAL ${{ matrix.dbal || 'default' }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          # Lowest deps
          - php: '8.1'
            postgres: '14'
            postgis: '3.2'
            phpunit-flags: '--exclude-group=versioned'
            composer-flags: '--prefer-stable --prefer-lowest'
          - php: '8.1'
            postgres: '14'
            postgis: '3.2'
            phpunit-flags: '--group=postgis-3.2'
            composer-flags: '--prefer-stable --prefer-lowest'

          # PostgresSQL / PostGIS matrix with ORM
          # PHP 8.1, Postgres 15, ORM 2.19
          - php: '8.1'
            postgres: '15'
            postgis: '3.4'
            orm: '2.19'
            phpunit-flags: '--exclude-group=versioned'
          - php: '8.1'
            postgres: '15'
            postgis: '3.4'
            orm: '2.19'
            phpunit-flags: '--group=postgis-3.4'

          # PHP 8.1, Postgres 16, ORM 2.19
          - php: '8.1'
            postgres: '16'
            postgis: '3.4'
            orm: '2.19'
            phpunit-flags: '--exclude-group=versioned'
          - php: '8.1'
            postgres: '16'
            postgis: '3.4'
            orm: '2.19'
            phpunit-flags: '--group=postgis-3.4'

          # PHP 8.1, Postgres 17, ORM 3.5
          - php: '8.1'
            postgres: '17'
            postgis: '3.6'
            orm: '3.5'
            phpunit-flags: '--exclude-group=versioned'
          - php: '8.1'
            postgres: '17'
            postgis: '3.6'
            orm: '3.5'
            phpunit-flags: '--group=postgis-3.6'

            # PHP 8.1, Postgres 18, ORM 3.5
          - php: '8.1'
            postgres: '18'
            postgis: '3.6'
            orm: '3.5'
            phpunit-flags: '--exclude-group=versioned'
          - php: '8.1'
            postgres: '18'
            postgis: '3.6'
            orm: '3.5'
            phpunit-flags: '--group=postgis-3.6'
            code-coverage: 'yes'

          # DBAL only v3 & v4
          - php: '8.1'
            postgres: '18'
            postgis: '3.6'
            dbal: '3.7'
            phpunit-flags: '--group=postgis-3.6 --exclude-group=orm'
          - php: '8.4'
            postgres: '18'
            postgis: '3.6'
            dbal: '4.3'
            phpunit-flags: '--group=postgis-3.6 --exclude-group=orm'

          # Next PHP version
          - php: 'latest'
            postgres: '18'
            postgis: '3.6'
            phpunit-flags: '--exclude-group=versioned'

    services:
      postgis:
        image: postgis/postgis:${{ matrix.postgres }}-${{ matrix.postgis }}-alpine
        env:
          POSTGRES_PASSWORD: 'postgres'
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: pdo_pgsql, pgsql
          coverage: ${{ matrix.code-coverage == 'yes' && 'xdebug' || 'none' }}

      - name: Get Composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache Composer dependencies
        uses: actions/cache@v4
        with:
            path: ${{ steps.composer-cache.outputs.dir }}
            key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
            restore-keys: ${{ runner.os }}-composer-

      - name: Install Doctrine ORM
        if: matrix.orm != ''
        run: composer require --no-interaction --no-update "doctrine/orm:^${{ matrix.orm }}"

      - name: Install Doctrine DBAL
        if: matrix.dbal != ''
        run: |
          composer remove --no-interaction --no-update --dev doctrine/orm
          composer require --no-interaction --no-update "doctrine/dbal:^${{ matrix.dbal }}"

      - name: Install dependencies
        run: |
          composer update --no-interaction --no-progress --prefer-dist ${{ matrix.composer-flags }}
          composer show -D

      - name: Create coverage directory
        if: matrix.code-coverage == 'yes'
        run: mkdir -p build/logs

      - name: Run tests
        run: |
          if [ "${{ matrix.code-coverage }}" == "yes" ]; then
            vendor/bin/phpunit --coverage-clover build/logs/clover.xml ${{ matrix.phpunit-flags }}
          else
            vendor/bin/phpunit ${{ matrix.phpunit-flags }}
          fi

      - name: Upload coverage to Coveralls
        if: matrix.code-coverage == 'yes' && success()
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          file: build/logs/clover.xml
          flag-name: php-${{ matrix.php }}-pg${{ matrix.postgres }}-postgis${{ matrix.postgis }}
          parallel: true
